{
    "presets": ["react-app"],
    "plugins": [
        "transform-class-properties",
        "universal-import"
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        }
    }
}