{
    "presets": ["react-app"],
    "plugins": [
        "universal-import",
        ["module-resolver", {
            "root": ["./src"]
        }]
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        }
    }
}
