{
    "extends": ["airbnb", "plugin:jest/recommended"],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "import/resolver": {
            "babel-module": {},
            "webpack": {
                "config": "./config/webpack.config.common.js"
            }
        }
    },
    "rules": {
        "import/no-extraneous-dependencies": ["error", {
            "devDependencies": [
                "config/**/*.js",
                "scripts/**/*.js",
                "src/stories/**/*.jsx",
                "src/**/*.spec.js",
                "src/server/dev.js",
                "src/data/sample.js"
            ]
        }],
        "jsx-a11y/anchor-is-valid": "off",
        "react/prop-types": "off"
    }
}
